@import "treeview.css";

:root {
  /*colors*/
  --color-black: #000000;
  --color-dark: #754ee2;
  --color-light: #d984d5;
  --color-white: #ffffff;
  --color-status-bb: #949494;
  --color-status-fb: #5c5c5c;
  --color-status-ba: #e8e464;
  --color-status-fa: #c05621;
  --color-status-bi: #64bee8;
  --color-status-fi: #1232b3;
  --color-status-bo: #64e88b;
  --color-status-fo: #22543d;
  --color-status-bn: #e86464;
  --color-status-fn: #c53030;;

  /*font*/
  --main-font: "Rubik";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* remove every margin/padding*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: var(--main-font), "Segoe UI", Tahoma, sans-serif;
  margin: 5px 10px;
}

#add-job-btn-container{
    display: flex;
    justify-content: space-between; 
    margin: 10px 0px;
}

.primary-btn{
    background-color: var(--color-black);
    color: var(--color-white);
}

.primary-btn:hover{
    border-color: var(--color-black);
    border-width: 1px;
    background-color: var(--color-white);
    color: var(--color-black);
}
.secondary-btn{
  background-color: var(--color-white);
  color: var(--color-black);
}
.secondary-btn:hover{
  border-color: var(--color-dark) !important;
  border-width: 1px !important;
  background-color: var(--color-light);
}

/* .job-listing{
  display: flex;
  justify-content: space-around;
} */

#step-icon-container{
    margin-right: 10px;
}

.stats-container{
    max-width: 1200px;
    margin: 0 auto;
}
        
.main-stat{
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  }
        
.main-stat h2{
            font-size: 1.2rem;
            color: #666;
            margin-bottom: 10px;
        }
        
.main-stat .value{
            font-size: 3rem;
            font-weight: bold;
        }
        
.stats-grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
        }
        
.stat-card{
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-width: 4px;
  border-color: var(--color-dark);
  }
        
.stat-card h3{
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}
        
.stat-card .value{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
        

.status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.85em;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
}

.status.bookmarked {
    background: var(--color-status-b);
    color: var(--color-status-fb)
}

.status.applied{
  background-color: var(--color-status-ba);
  color: var(--color-status-fa);
}

.status.interviewing{
  background-color: var(--color-status-bi);
  color: var(--color-status-fi);
}

.status.offer{
  background-color: var(--color-status-bo);
  color: var(--color-status-fo);
}

.status.rejected{
  background-color: var(--color-status-bn);
  color: var(--color-status-fn);
}

.job-list-item{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  box-shadow: 4px 2px 2px rgba(230, 230, 230, 0.8);
  border-radius: 8px;
  border-width: 1px;
  border-color: rgba(198, 198, 198, 0.8);
}

.job-list-item:hover{
  background-color: rgba(245, 245, 245, 0.8);
}

.job-detail-container{
  flex: 10;
  display: flex;
  gap: 5px;
  align-items: center;
}
.job-title{
  font-weight: bold;
  flex: 2;
}

.job-company{
  flex: 1;
}
.job-url{
  flex: 3;
}
.job-location{
  flex: 1;
}
.job-status{
  flex: 1;
}

.btns-container{
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nested-table{
  width: 100%;
  table-layout: fixed;
}

.nested-table td{
  width: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
}

#add-note-btn-container{
  margin-bottom: 8px;
}

#notes-col{
  vertical-align: top;
}

#desc-col{
  vertical-align: top;
  padding-left: 10px;
} 

#note-list-btn-container{
  margin-left: 5px;
}

.col2-title{
  font-weight: bold;
  color: var(--color-status-bb);
}