@import "treeview.css";

:root {
  /*colors*/
  --color-black: #000000;
  --color-dark: #754ee2;
  --color-light: #d984d5;
  --color-white: #ffffff;

  /*font*/
  --main-font: "Rubik";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* remove every margin/padding*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: var(--main-font), "Segoe UI", Tahoma, sans-serif;
  margin: 0px 10px;
}

#add-job-btn-container{
    display: flex;
    justify-content: space-between; 
    margin: 10px 0px;
}

.primary-btn{
    background-color: var(--color-black);
    color: var(--color-white);
}

.primary-btn:hover{
    border-color: var(--color-black);
    border-width: 1px;
    background-color: var(--color-white);
    color: var(--color-black);
}
.secondary-btn{
  background-color: var(--color-white);
  color: var(--color-black);
}
.secondary-btn:hover{
  border-color: var(--color-dark) !important;
  border-width: 1px !important;
  background-color: var(--color-light);
}

.job-listing{
  display: flex;
  justify-content: space-around;
}
/* #add-job-btn{
    background-color: var(--color-black);
    color: var(--color-white);
} */

#step-icon-container{
    margin-right: 10px;
}